pandas
requests
beautifulsoup4
ipykernel
selenium
lxml
streamlit
matplotlib
sentence-transformers
langchain
langchain_community
langchain_core
transformers
FAISS-cpu
langchain-ollama
langchain-groq
torch
openai==0.28